.navbar-lateral {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    height: 80vh;

    a {
        text-decoration: none;
        color: #235aa6;
        font-size: 20px;
        margin: 10px 0;
        transition: color 0.3s;
    }

    a:hover {
        color: #6bbcff;
        text-decoration: underline;
    }

    ul {
        padding: 0;
        width: 100%;
        text-align: left;
        margin-top: 20px;
    }

    li {
        list-style: none;
        margin-bottom: 30px;
    }
}